body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    margin: 0;

}
.head {
    width: 100%;
    overflow: hidden;
    background-color: #001132;
}
.head .left{
    width: auto;
    margin-left: 40px;
    padding-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    color:white;
    float: left;
}
.head .middle{
    width: auto;
    float: left;
}
.head .right{
    width: auto;
    float: left;
    overflow: hidden;
}

.head .middle ul{
    margin-top: 4.5%;
    width: auto;
    list-style: none;
    margin-left: 10px;

}
.head .middle li.active{
    background-color: white;
    border-radius: 5px;
}
.head .middle li{
    height: 30px;
    margin-left: 40px;
    float: left;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: white;
    text-align: center;
}
.head a{
    color:white;
    text-decoration: none;
    text-align: center;

}
.head .right ul{
    width: auto;
    list-style: none;
    margin-left: 180px;
}
.head .right li{
    padding-top: 10px;
    float: left;
    font-size: 18px;
    margin-left: 60px;
    font-weight: 300;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul.parent li a:hover {
    color: #a1c18c;
}
.head .search{
    float: left;
    margin-left: 1%;
    padding-top: 1%;

}

.bottom{
    margin-top: 5%;
    width: 100%;
    height: auto;
}
.middle li a:hover {
    color: #a1c18c;
}
ul.parent li a:hover {
    color: #a1c18c;
}
.bottom img{
    margin-top: 5%;
    width: 100%;
    height: 350px;
    cursor: pointer;
}
.donationBox1 .Org1{
    float: left;
    width: 38%;
    margin-left: 8%;
    height: 95%;
}
.donationBox1 .Org1 img{
    width: 100%;
    height: 100%;
}
.donationBox1 .Org2{
    float: left;
    width: 38%;
    margin-left: 5%;
    height: 95%;

}
.donationBox1 .Org2 img{
    width: 100%;
    height: 100%;
}

.Org3{

    position: absolute;

    left: 6.58%;
    right: 58.6%;
    top: 7.5%;
    bottom: 35.9%;

}
.Org4{

    position: absolute;
    left: 54.49%;
    right: 11.1%;
    top: 7.5%;
    bottom: 35.9%;

}

.Org5{

    position: absolute;

    left: 6.58%;
    right: 58.6%;
    top: 7.5%;
    bottom: 200px;


}
.Org6{

    position: absolute;

    left: 54.49%;
    right: 11.16%;
    top: 7.5%;
    bottom: 200px;

}
.donationBox1{
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height:500px;
    width: 80%;
}



