.rightFirstLine{
    /* Contribute to the ascension of the earth */

    position: absolute;
    left: 70.64%;
    right: 4.85%;
    top: 36.62%;
    bottom: 57.41%;

    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 27px;
    /* or 84% */

    color: #FFFFFF;


}