body{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
}
.head {
  margin: 0 0;
  width: 100%;
  overflow: hidden;
  background-color: #192400;
}
.head .left{
  width: auto;
  margin-left: 40px;
  padding-left: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  font-weight: 300;
  text-align: center;
  color:white;
  float: left;
}
.head .middle{
  width: auto;
  float: left;
}
.head .right{
  width: auto;
  float: left;
  overflow: hidden;
}

.head .middle ul{
  margin-top: 4%;
  width: auto;
  list-style: none;
  margin-left: 10px;
}
.head .middle li.active{
  background-color: white;
  border-radius: 5px;
}
.head .middle li{
  height: 37px;
  margin-left: 40px;
  float: left;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  color: white;
  text-align: center;
}
.head .middle li a{
  text-align: center;
  font-size: 18px;
  margin-top: 7px;
}
.head a{
  color:white;
  text-decoration: none;
  text-align: center;
}
.head .right ul{
  width: auto;
  list-style: none;
  margin-left: 250px;
}
.head .right li{
  padding-top: 10px;
  float: left;
  font-size: 20px;
  margin-left: 60px;
  font-weight: 300;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
ul.parent li a:hover {
  color: #a1c18c;
}
.head .search{
  float: left;
  margin-left: 1%;
  padding-top: 1%;

}
.title{
  color: red;
  margin-top: 7%;
  margin-left: 13%;
  font-weight: 600;
}

.middle li a:hover {
  color: #a1c18c;
}
.title{
  color: red;
  margin-top: 7%;
  margin-left: 13%;
  font-weight: 600;
}
.middle li a:hover {
  color: #a1c18c;
}
.title{
  color: red;
  margin-top: 7%;
  margin-left: 13%;
  font-weight: 600;
}

.middle li a:hover {
  color: #a1c18c;
}

.title2{
  font-family:Arial;
  margin-left: 13%;
  margin-top: 3%;
  width: 25%;
  height: auto;
  font-weight: 500;
  font-size: 40px;

}
.word{
  width: 30%;
  height: auto;
  font-family:Arial;
  margin-left: 13%;
  margin-top: 3%;
  font-size: 18px;
  font-weight: lighter;
}
.img2{
  margin-left: 13%;
  margin-top: 1%;
  cursor: pointer;
  width: 20%;
}
.img{

}
.img .head-img img{
  right: 15%;
  top: 30%;
  height: 420px;
  width: 590px;
  position: absolute;
}
.img .middle-img img{
  right: 31.5%;
  top: 85%;
  height: 260px;
  width: 350px;
  position: absolute;
}
.img .middle-img2 img{
  right: 15%;
  top: 85%;
  height: 260px;
  width: 220px;
  position: absolute;
}
.word2{
  position: absolute;
  right: 20%;
  top: 130%;
  width: 450px;
  height: auto;
  font-size: 20px;
  font-weight: 600;
}
.word3{
  font-family:Arial;
  margin-left: 13%;
  margin-top: 3%;
  font-size: 18px;
  width: 70%;
  overflow: hidden;
}
.word4{
  margin-left: 13%;
  margin-top: 3%;
  font-family:Arial;
  font-size: 25px;
  font-weight: 500;
}
.middle-word{
  width: 85%;
  margin-left: 13%;
  margin-top: 3%;
  height: auto;
}
.middle-word .word5{
  width: 600px;
  height: auto;
  font-family:Arial;
  margin-left: 3%;
  margin-top: 1%;
  font-size: 25px;
  font-weight: 600;
}
.middle-word .word6{
  float: left;
  font-family:Arial;
  margin-top: 4%;
  width: 630px;
  height: auto;
  font-size: 18px;
}
.middle-word .img3{
  float: left;
  width: 400px;
  height: 250px;
}
.middle-word .img3 img{
  margin-left: 4%;
  width: 400px;
  height: 250px;
}
.middle-word .word7{
  font-family:Arial;
  margin-left: 0.8%;
  margin-top: 150px;
  padding-top: 100px;
  font-size: 18px;
  width: 80%;
}
.bottom-word{
  width: 85%;
  margin-left: 13%;
  margin-top: 3%;
  height: auto;
  margin-bottom: 2%;
}
.bottom-word .img4{
  float: left;
  width: 50%;
  height:400px;
}
.bottom-word .img4 img{
  width:600px;
  height: 400px;
  padding-bottom: 20px;
}
.bottom-word .word7{
  float: left;
  width: 400px;
  height: auto;
  font-family:Arial;
  margin-left: 3%;
  font-size: 25px;
  font-weight: 600;
}
.bottom-word .img5{
  float: left;
  width: 450px;
  height: auto;
  margin-top: 1%;
}
.bottom-word .img5 img{
  width: 450px;
  height: 270px;
  padding-bottom: 20px;
}
.word8{
  font-family:Arial;
  margin-top: 2%;
  font-size: 16px;
  width: 80%;
  margin-left: 13%;
  opacity: 0.5;
}
.bottom{
  margin-top: 4%;
  width: 100%;
  height: auto;
}
.bottom img{
  width: 100%;
  height: 350px;
  cursor: pointer;
}

